@import url("https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@custom-variant dark (&:where(.dark , .dark *));
